.dot li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.cont{
    width: 1900px;
    height: 900px;

}
#header{
    position: absolute;
    z-index: 5;
    width: 100%;
}
.moe-menu{
    margin-top: 20px;
   
}
a:link {
    color:white;

}